@font-face {
    font-family: 'Gill Sans';
    src: url(GILLUBCD.TTF) format('truetype');
  }
  
  @font-face {
    font-family: 'Gill Sans MT';
    src: url(GILBI___.TTF) format('truetype');
  }
  
  @font-face {
    font-family: Calibri;
    src: url(calibrili.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Trebuchet MS';
    src: url(trebucbi.ttf) format('truetype');
  }

body{
    margin: 0;
    padding: 0;
    z-index: 1;
    background-color: rgb(8, 0, 53);
}

nav{
    margin: 0;
    padding: 0;
}

h2{
    padding: 0;
    margin: 0;
}
nav h2{
    color: rgb(0, 234, 255);    
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#visualizer {
    padding: 0 20px;
}

#row h3{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#row {
    display: flex;
}

#row #generateNewArray {
    padding: 25px;
}
#row #generateNewArray button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

#row #generateNewArray button:hover{
    background-color: #73ff00c5;
    color: black;
}
#row #AlgoButtons {
    padding: 25px;
}
#row #AlgoButtons button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}

#row #AlgoButtons button:hover{
    background-color: #00fbff;
    color: black;
}

#control span{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    padding: 10px;
}